* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 10px;
}

.image-container > img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profil-picture > button > img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.hamburger-menu > button,
.profil-picture > button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  width: 40px;
  margin: 0;
  padding: 0;
}

li {
  margin: 20%;
}

.info-user {
  text-align: right;
  margin: 10px 0;
}

.logo {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100px;
}

.logo > img {
  height: 100%;
}

main {
  width: 90%;
  margin: auto;
}

.search {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search > input {
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  background-color: #d9d9d9;
  border: none;
  opacity: 0.5;
}

.filter {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.tendances,
.menus {
  width: 100%;
  display: grid;
  gap: 15px;
}

.menus {
  margin-bottom: 50px;
}

.tendances > h2,
.menus > h2 {
  text-align: center;
}

.menus > h2 {
  margin-top: 15px;
}

button {
  background-color: rgba(0, 0, 0, 0.332);
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  padding: 0.2em 0.8em;
}

/* * * * * * * * * * * * */
.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.articles-container article:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

article {
  background-color: rgba(175, 96, 96, 0.38);
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 1fr pour le contenu texte, auto pour l'image */
}

.text-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

/* * * * * * * * * * * * */
article.big > .text-article {
  font-size: 18px;
}
article.big .img-article .image-container {
  width: 80%;
}
article.big button {
  width: 100%;
}
article.small > .text-article {
  font-size: 15px;
}

/* * * * * * * * * * * * */

.img-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* * * * * * * * * * * * */

.menus article .img-article {
  flex-direction: row;
}
.menus article .img-article > div {
  width: 50%;
}

/* * * * * * * * * * * * */
.footer {
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer-icon {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  background-color: whitesmoke;
  padding: 5px;
}
